<div id="log-modal" class="modal">
    <div class="modal-content">
        <span class="close" id="log-close-modal">&times;</span>
        <h2>Create Log Entry</h2>
        <div>
            <label for="log-type">Log Type</label>
            <select id="log-type">
                <option value="0">Event</option>
                <option value="1">Information</option>
                <option value="2">Bug</option>
                <option value="3">Warning</option>
            </select>
            <input type="text" id="log-message" placeholder="Log Message">
            <button id="create-log-btn">Create</button>
        </div>
    </div>
</div>